{% extends "base.html"%}
{% block title %}Supported Cryptocurrency Assets{% endblock %}

{% block content %}

<div class="row mb-2">
    <div class="col-sm-12 fs-2 fw-bold mb-1 justify-content-start">Supported Cryptocurrency Assets</div>
    <p> Below is a list of the cryptocurrency assets supported on the website, sorted by size of market cap.
    </p>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-sm">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Name & Symbol</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">Market Cap</th>
                        <th scope="col">Circulating Supply</th>
                        <th scope="col">Max Supply</th>
                        <th scope="col">Last Updated (UTC)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for crypto in cryptocurrencies %}
                    <tr>
                        <td>{{ crypto.name }} ({{ crypto.code }})</td>
                        <td>{{ crypto.current_price }}</td>
                        <td>{{ crypto.market_cap }}</td>
                        <td>{{ crypto.circulating_supply }}</td>
                        <td>{{ crypto.max_supply }}</td>
                        <td>{{ crypto.last_updated }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}