{% extends "base.html"%}
{% block title %}Cryptocurrency Wallet{% endblock %}

{% block content %}

<!-- <div class="row row-cols-md mb-3"> -->

<div class="row mb-2">
    <div class="col-sm-8 fs-2 fw-bold mb-1 justify-content-start">Cryptocurrency Wallet</div>
    <div class="col-sm-2 d-grid gap-2 d-md-flex justify-content-md-end mb-1">
        <!-- <a class="btn btn-primary fs-5 w-100" href="/cryptocurrency-wallet/buy-cryptocurrency" role="button">Buy</a> -->
        <button id="openBuyModal" class="btn btn-primary fs-5 w-100" type="button" data-bs-toggle="modal"
            data-bs-target="#buyModal">Buy</button>
    </div>
    <div class="col-sm-2 d-grid gap-2 d-md-flex justify-content-md-end mb-1">
        <!-- <a class="btn btn-success fs-5 w-100" href="/cryptocurrency-wallet/sell-cryptocurrency" role="button">Sell</a> -->
        <button id="openSellModal" class="btn btn-success fs-5 w-100" type="button" data-bs-toggle="modal"
            data-bs-target="#sellModal">Sell</button>
    </div>
</div>

<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/submit-crypto-buy-modal" method="POST">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="buyModalLabel">Buy Cryptocurrency</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if buy_modal_errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in buy_modal_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="cryptocurrencyDataList" class="form-label">Cryptocurrency</label>
                        <input class="form-control" list="cryptocurrencyOptions" id="cryptocurrencyDataList"
                            name="cryptocurrency" placeholder="Type to search...">
                        <datalist id="cryptocurrencyOptions">
                            <option value="BTC">
                            <option value="ETH">
                            <option value="USDT">
                        </datalist>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <input id="cryptocurrencyAmount" name="cryptocurrencyAmount" type="text"
                                class="form-control" placeholder="Amount" aria-label="Amount">
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input id="monetaryAmount" name="monetaryAmount" type="text" class="form-control"
                                    placeholder="Cash" aria-label="Cash">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <input id="transactionDate" name="transactionDate" type="text" class="form-control"
                                placeholder="DD/MM/YYYY" aria-label="Amount">
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="description" placeholder="Leave a comment here"
                            id="transactionDescription"></textarea>
                        <label for="transactionDescription">Description (optional)</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/submit-crypto-sell-modal" method="POST">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sellModalLabel">Sell Cryptocurrency</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if sell_modal_errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in sell_modal_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="cryptocurrencyDataList" class="form-label">Cryptocurrency</label>
                        <input class="form-control" list="cryptocurrencyOptions" id="cryptocurrencyDataList"
                            name="cryptocurrency" placeholder="Type to search...">
                        <datalist id="cryptocurrencyOptions">
                            <option value="BTC">
                            <option value="ETH">
                            <option value="USDT">
                        </datalist>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <input id="cryptocurrencyAmount" name="cryptocurrencyAmount" type="text"
                                class="form-control" placeholder="Amount" aria-label="Amount">
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input id="monetaryAmount" name="monetaryAmount" type="text" class="form-control"
                                    placeholder="Cash" aria-label="Cash">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <input id="transactionDate" name="transactionDate" type="text" class="form-control"
                                placeholder="DD/MM/YYYY" aria-label="Amount">
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="description" placeholder="Leave a comment here"
                            id="transactionDescription"></textarea>
                        <label for="transactionDescription">Description (optional)</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Asset Totals -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Cryptocurrency Balance</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_crypto_balance }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss (incl. withdrawals)</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{ total_crypto_profit }}</h5>
                    </div>
                    <div class="col-4 text-end">
                        <p class="card-text">{{ total_crypto_profit_percentage }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Graph -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">Cryptocurrency Portfolio Performance</div>
            <div class="card-body">
                <canvas id="cryptocurrencyPerformanceGraph"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Users invested and withdrawals -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_invested }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Withdrawals</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_withdrawn }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Cryptocurrency Distribution</div>
            <div class="card-body">
                <canvas id="cryptocurrencyDistribution" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Largest Positions by Market Value</div>
            <div class="card-body">
                <canvas id="cryptoPositionsByMarketValue" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Monthly breakdown -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Investments this Month</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_invested_this_month }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Withdrawals This Month</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_sold_this_month }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Owned cryptocurrency table -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-light">
            <div class="card-header">Owned Cryptocurrency Assets</div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Cryptocurrency</th>
                        <th scope="col">Amount Owned</th>
                        <th scope="col">Value</th>
                        <th scope="col" colspan="2">
                            <center>Profit/Loss(incl. withdrawals)</center>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if user_cryptos %}
                    {% for crypto in user_cryptos %}
                    <tr>
                        <td>{{ crypto.name }} ({{ crypto.code }})</td>
                        <td>{{ crypto.quantity }}</td>
                        <td>{{ crypto.value }}</td>
                        <td>{{ crypto.profit }}</td>
                        <td>{{ crypto.profit_percentage }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">No cryptocurrency assets owned</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Cryptocurrency transactions -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-light">
            <div class="card-header">Cryptocurrency Asset Transactions</div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Cryptocurrency</th>
                        <th scope="col">Amount purchased/sold</th>
                        <th scope="col">Purchase/Sell price</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if user_transactions %}
                    {% for transaction in user_transactions %}
                    <tr>
                        <td>{{ transaction.name }} ({{ transaction.code }})</td>
                        {% if transaction.type == "Buy" %}
                        <td>{{ transaction.quantity }} (Buy)</td>
                        {% else %}
                        <td>{{ transaction.quantity }} (Sell)</td>
                        {% endif %}
                        <td>{{ transaction.value }}</td>
                        <td>{{ transaction.short_date }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">You have not made any cryptocurrency transactions</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Open the modal automatically when there are modal errors
    // Buy modal
    // Pass errors to JavaScript from Python
    var buyModalErrors = JSON.parse('{{ buy_modal_errors | default("[]") | tojson | safe }}');
    if (Array.isArray(buyModalErrors) && buyModalErrors.length > 0) {
        document.addEventListener('DOMContentLoaded', function () {
            var buyModalButton = document.getElementById('openBuyModal');
            buyModalButton.click();
        });
    }
    // Sell modal
    // Pass errors to JavaScript from Python
    var sellModalErrors = JSON.parse('{{ sell_modal_errors | default("[]") | tojson | safe }}');
    if (Array.isArray(sellModalErrors) && sellModalErrors.length > 0) {
        document.addEventListener('DOMContentLoaded', function () {
            var sellModalButton = document.getElementById('openSellModal');
            sellModalButton.click();
        });
    }

    // Cryptocurrency Performance Chart
    const cty = document.getElementById('cryptocurrencyPerformanceGraph');
    new Chart(cty, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
            datasets: [{
                label: 'Cryptocurrency Value',
                data: [12, 19, -3, 5, 2, 3],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
    });

    var userCryptoValues = {{ user_crypto_values | tojson | safe }};

    for (var key in userCryptoValues) {
        userCryptoValues[key] = parseInt(userCryptoValues[key]);
    }

    // Cryptocurrency Distribution Chart
    var cryptoNames = Object.keys(userCryptoValues);
    var cryptoValues = Object.values(userCryptoValues);
    const ctz = document.getElementById('cryptocurrencyDistribution');
    new Chart(ctz, {
        type: 'doughnut',
        data: {
            labels: cryptoNames,
            datasets: [{
                label: 'Cryptocurrency Distribution',
                data: cryptoValues,
                hoverOffset: 4
            }]
        },
    });

    // Positions by Market Value Chart
    var cryptoArray = Object.entries(userCryptoValues);

    cryptoArray.sort(function (a, b) {
        return b[1] - a[1];
    });

    var top3Cryptos = cryptoArray.slice(0, 3);

    var cryptoLabels = top3Cryptos.map(function (pair) {
        return pair[0];
    });

    var cryptoValues = top3Cryptos.map(function (pair) {
        return pair[1];
    });

    const ctx = document.getElementById('cryptoPositionsByMarketValue');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: cryptoLabels,
            datasets: [{
                label: 'Value in USD',
                data: cryptoValues,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}