{% extends "base.html"%}
{% block title %}Cryptocurrency Wallet{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 fw-bold fs-3 mb-3">Cryptocurrency Wallet</div>
</div>

<!-- Sub-Wallet Metadata -->
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Cryptocurrency Balance</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_crypto_balance }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{ total_asset_profit }}</h5>
                    </div>
                    <div class="col-4 text-end">
                        <p class="card-text">{{ total_asset_profit_percentage }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_invested }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Monthly Breakdown -->
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss this Month</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{ profit_this_month }}</h5>
                    </div>
                    <div class="col-4 text-end">
                        <p class="card-text">{{ profit_this_month_percentage }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Sold this Month</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_sold_this_month }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested this Month</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_invested_this_month }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Graph -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">Cryptocurrency Performance Graph</div>
            <div class="card-body">
                <canvas id="cryptocurrencyPerformanceGraph"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Cryptocurrency Distribution Pie Chart</div>
            <div class="card-body">
                <canvas id="cryptocurrencyDistribution" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Largest Positions by Market Value</div>
            <div class="card-body">
                <canvas id="cryptoPositionsByMarketValue" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<!--Buy/Sell cryptocurrency-->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Note Cryptocurrency Transaction</div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <a class="btn btn-success m-1 w-100" href="/cryptocurrency-wallet/buy-cryptocurrency"
                            role="button">Buy</a>
                        <a class="btn btn-success m-1 w-100" href="/cryptocurrency-wallet/sell-cryptocurrency"
                            role="button">Sell</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Owned cryptocurrencies -->
<h5>Owned Cryptocurrency Assets</h5>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Cryptocurrency</th>
            <th scope="col">Amount Owned</th>
            <th scope="col">Value</th>
            <th scope="col" colspan="2">
                <center>Profit/Loss</center>
            </th>
        </tr>
    </thead>
    <tbody>
        {% if user_cryptos != None %}
        {% for crypto in user_cryptos %}
        <tr>
            <td>{{ crypto.name }}</td>
            <td>{{ crypto.quantity }}</td>
            <td>${{ crypto.value }}</td>
            <td>TBC</td>
            <td>TBC</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<!-- Cryptocurrency transactions -->
<h5>Cryptocurrency Asset Transactions</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Cryptocurrency</th>
            <th scope="col">Amount purchased/sold</th>
            <th scope="col">Purchase/Sell price</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% if user_transactions != None %}
        {% for transaction in user_transactions %}
        <tr>
            <td>{{ transaction.name }}</td>
            {% if transaction.type == "Buy" %}
            <td>{{ transaction.crypto_amount }} (Buy)</td>
            {% else %}
            <td>{{ transaction.crypto_amount }} (Sell)</td>
            {% endif %}
            <td>{{ transaction.value }}</td>
            <td>{{ transaction.short_date }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<script>
    // Cryptocurrency Performance Chart
    const cty = document.getElementById('cryptocurrencyPerformanceGraph');
    new Chart(cty, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
            datasets: [{
                label: 'Cryptocurrency Value',
                data: [12, 19, -3, 5, 2, 3],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
    });

    // Cryptocurrency Distribution Chart
    const ctz = document.getElementById('cryptocurrencyDistribution');
    new Chart(ctz, {
        type: 'doughnut',
        data: {
            labels: ['Bitcoin', 'Ethereum', 'Cardano'],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
    });

    // Positions by Market Value Chart
    const ctx = document.getElementById('cryptoPositionsByMarketValue');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Bitcoin', 'Ethereum', 'Cardano'],
            datasets: [{
                label: 'Value in USD',
                data: [12000, 1900, 3000],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}