{% extends "base.html"%}
{% block title %}Cryptocurrency Wallet{% endblock %}

{% block content %}

<!-- <div class="row row-cols-md mb-3"> -->

<div class="row mb-2">
    <div class="col-sm-8 fs-2 fw-bold mb-1 justify-content-start">Cryptocurrency Wallet</div>
    <div class="col-sm-2 d-grid gap-2 d-md-flex justify-content-md-end mb-1">
        <!-- <button class="btn btn-primary me-md-2" type="button">Button</button> -->
        <a class="btn btn-primary fs-5 w-100" href="/cryptocurrency-wallet/buy-cryptocurrency" role="button">Buy</a>
    </div>
    <div class="col-sm-2 d-grid gap-2 d-md-flex justify-content-md-end mb-1">
        <a class="btn btn-success fs-5 w-100" href="/cryptocurrency-wallet/sell-cryptocurrency" role="button">Sell</a>
    </div>
</div>

<!-- Asset Totals -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Cryptocurrency Balance</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_crypto_balance }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss (incl. withdrawals)</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{ total_crypto_profit }}</h5>
                    </div>
                    <div class="col-4 text-end">
                        <p class="card-text">{{ total_crypto_profit_percentage }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Graph -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">Cryptocurrency Portfolio Performance</div>
            <div class="card-body">
                <canvas id="cryptocurrencyPerformanceGraph"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Users invested and withdrawals -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_invested }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Withdrawals</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_withdrawn }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Cryptocurrency Distribution</div>
            <div class="card-body">
                <canvas id="cryptocurrencyDistribution" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Largest Positions by Market Value</div>
            <div class="card-body">
                <canvas id="cryptoPositionsByMarketValue" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Monthly breakdown -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Investments this Month</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_invested_this_month }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Withdrawals This Month</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_sold_this_month }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Owned cryptocurrency table -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-light">
            <div class="card-header">Owned Cryptocurrency Assets</div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Cryptocurrency</th>
                        <th scope="col">Amount Owned</th>
                        <th scope="col">Value</th>
                        <th scope="col" colspan="2">
                            <center>Profit/Loss</center>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if user_cryptos %}
                    {% for crypto in user_cryptos %}
                    <tr>
                        <td>{{ crypto.name }}</td>
                        <td>{{ crypto.quantity }}</td>
                        <td>${{ crypto.value }}</td>
                        <td>TBC</td>
                        <td>TBC</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">No cryptocurrency assets owned</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Cryptocurrency transactions -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-light">
            <div class="card-header">Cryptocurrency Asset Transactions</div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Cryptocurrency</th>
                        <th scope="col">Amount purchased/sold</th>
                        <th scope="col">Purchase/Sell price</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if user_transactions %}
                    {% for transaction in user_transactions %}
                    <tr>
                        <td>{{ transaction.name }}</td>
                        {% if transaction.type == "Buy" %}
                        <td>{{ transaction.crypto_amount }} (Buy)</td>
                        {% else %}
                        <td>{{ transaction.crypto_amount }} (Sell)</td>
                        {% endif %}
                        <td>{{ transaction.value }}</td>
                        <td>{{ transaction.short_date }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">You have not made any cryptocurrency transactions</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Cryptocurrency Performance Chart
    const cty = document.getElementById('cryptocurrencyPerformanceGraph');
    new Chart(cty, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
            datasets: [{
                label: 'Cryptocurrency Value',
                data: [12, 19, -3, 5, 2, 3],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
    });

    // Cryptocurrency Distribution Chart
    const ctz = document.getElementById('cryptocurrencyDistribution');
    new Chart(ctz, {
        type: 'doughnut',
        data: {
            labels: ['Bitcoin', 'Ethereum', 'Cardano'],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
    });

    // Positions by Market Value Chart
    const ctx = document.getElementById('cryptoPositionsByMarketValue');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Bitcoin', 'Ethereum', 'Cardano'],
            datasets: [{
                label: 'Value in USD',
                data: [12000, 1900, 3000],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}