{% extends "base.html"%}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 fw-bold fs-3 mb-3">Dashboard</div>
</div>

<!-- Wallet Metadata -->
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Net Worth</div>
            <div class="card-body">
                <h5 class="card-title">£0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss</div>
            <div class="card-body">
                <h5 class="card-title">£0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested</div>
            <div class="card-body">
                <h5 class="card-title">£0.00</h5>
            </div>
        </div>
    </div>
</div>

<!-- Monthly Breakdown -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested this Month</div>
            <div class="card-body">
                <h5 class="card-title">£0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss this Month</div>
            <div class="card-body">
                <h5 class="card-title">£0.00</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Investment Wallet</div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <h2 class="card-title">£0.00</h2>
                            <p class="card-text">This is your uninvested cash balance</p>
                        </div>
                        <div class="col-sm-3">

                            <button type="button" class="btn btn-success m-1 w-100" data-bs-toggle="modal"
                                data-bs-target="#depositModal">Deposit</button>

                            <!-- Deposit Modal -->
                            <div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="depositModalLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-success m-1 w-100" data-bs-toggle="modal"
                                data-bs-target="#withdrawModal">Withdraw</button>

                            <!-- Withdraw Modal -->
                            <div class="modal fade" id="withdrawModal" tabindex="-1"
                                aria-labelledby="withdrawModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="withdrawModalLabel">withdraw</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Graph -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">Overall Portfolio Performance Chart</div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- Go to chart.js for this -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-header">Portfolio Distribution by Asset Pie Chart</div>
            <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
                <!-- Go to chart.js for this -->
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-header">Largest Positions by Market Value</div>
            <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
                <!-- Go to chart.js for this -->
            </div>
        </div>
    </div>
</div>
{% endblock %}