{% extends "base.html"%}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 fw-bold fs-3 mb-3">Dashboard</div>
</div>

<!-- Wallet Metadata -->
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Net Worth</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
</div>

<!-- Monthly Breakdown -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested this Month</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss this Month</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
</div>

<!-- Graph -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card h-100">
            <div class="card-header">Overall Portfolio Performance Chart</div>
            <div class="card-body">
                <canvas id="portfolioPerformanceChart"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Portfolio Distribution by Asset Pie Chart</div>
            <div class="card-body">
                <canvas id="portfolioDistribution" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Largest Positions by Market Value</div>
            <div class="card-body">
                <canvas id="positionsByMarketValue" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    // Portfolio Performance Chart
    const cty = document.getElementById('portfolioPerformanceChart');
    new Chart(cty, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
            datasets: [{
                label: 'Portfolio Value',
                data: [12, 19, -3, 5, 2, 3],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
    });

    // Portfolio Distribution Chart
    const ctz = document.getElementById('portfolioDistribution');
    new Chart(ctz, {
        type: 'doughnut',
        data: {
            labels: [
                'Cryptocurrency',
                'Forex',
                'Stock'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
    });

    // Positions by Market Value Chart
    const ctx = document.getElementById('positionsByMarketValue');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Bitcoin', 'Tesla', 'Apple', 'USD', 'GBP', 'Ethereum'],
            datasets: [{
                label: 'Value in USD',
                data: [12000, 1900, 3000, 5000, 2000, 3000],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}