{% extends "base.html"%}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 fw-bold fs-3 mb-3">Dashboard</div>
</div>

<!-- Cards -->
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-bg-primary h-100">
            <div class="card-header">Net Worth</div>
            <div class="card-body">
                <h5 class="card-title">Primary title</h5>
                <p class="card-text">Some quick example.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-primary h-100">
            <div class="card-header">Profit/Loss</div>
            <div class="card-body">
                <h5 class="card-title">Primary title</h5>
                <p class="card-text">Some quick example.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-primary h-100">
            <div class="card-header">Total Invested</div>
            <div class="card-body">
                <h5 class="card-title">Primary title</h5>
                <p class="card-text">Some quick example.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-primary h-100">
            <div class="card-header">Investment Wallet</div>
            <div class="card-body">
                <h5 class="card-title">Primary title</h5>
                <p class="card-text">This is uninvested money</p>
            </div>
        </div>
    </div>
</div>

<!-- Graph -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">Data Graph</div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- Go to chart.js for this -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-header">Charts</div>
            <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
                <!-- Go to chart.js for this -->
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-header">Charts</div>
            <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
                <!-- Go to chart.js for this -->
            </div>
        </div>
    </div>
</div>
{% endblock %}