<h2 align="left">Transactions</h2>
<table id="transactions" class="table table-hover">
    <thead class="table-dark">
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
        <th>Action</th>
    </thead>
    {% for transaction in user.transactions %}
    <tbody>
        <tr>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date }}</td>
            <td>
                <button type="button" class="close" onClick="deleteTransaction({{ transaction.id }})">Delete</button>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>
<form method="POST">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="transaction_amount">£</span>
        <input type="text" class="form-control" placeholder="Amount" aria-label="Transaction Amount"
            id="transaction_amount" name="transaction_amount" aria-describedby="transaction_amount">
    </div>
    <br>
    <div class="input-group mb-3">
        <input id="day" name="day" type="text" class="form-control" placeholder="Day" aria-label="Day">
        <span class="input-group-text">/</span>
        <input id="month" name="month" type="text" class="form-control" placeholder="Month" aria-label="Month">
        <span class="input-group-text">/</span>
        <input id="year" name="year" type="text" class="form-control" placeholder="Year" aria-label="Year">
    </div>
    <br>
    <div class="mb-3">
        <textarea id="description" name="description" class="form-control" rows="2"
            placeholder="Description"></textarea>
    </div>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add transaction</button>
    </div>
</form>