{% extends "base.html"%}
{% block title %}Stock Wallet{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 fw-bold fs-3 mb-3">Stocks Wallet</div>
</div>

<!-- Sub-Wallet Metadata -->
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Stocks Balance</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
</div>

<!-- Monthly Breakdown -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Total Invested this Month</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Profit/Loss this Month</div>
            <div class="card-body">
                <h5 class="card-title">$0.00</h5>
            </div>
        </div>
    </div>
</div>

<!-- Graph -->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">Stock Performance Graph</div>
            <div class="card-body">
                <canvas id="stockPerformanceGraph"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Stock Distribution Pie Chart</div>
            <div class="card-body">
                <canvas id="stockDistribution" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">Largest Positions by Market Value</div>
            <div class="card-body">
                <canvas id="stockPositionsByMarketValue" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<!--Buy/Sell stock-->
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card text-bg-light h-100">
            <div class="card-header">Note Stock Transaction</div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <a class="btn btn-success m-1 w-100" href="/stock-wallet/buy-stock" role="button">Buy</a>
                        <a class="btn btn-success m-1 w-100" href="/stock-wallet/sell-stock" role="button">Sell</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Owned stocks -->
<h5>Owned Stock Assets</h5>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Stocks</th>
            <th scope="col">Stocks Owned</th>
            <th scope="col">Value</th>
            <th scope="col">Profit/Loss</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Tesla</td>
            <td>100</td>
            <td>$1000</td>
            <td>100%</td>
        </tr>
    </tbody>
</table>

<!-- Stock transactions -->
<h5>Stock Asset Transactions</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Stock</th>
            <th scope="col">Amount purchased/sold</th>
            <th scope="col">Purchase/Sell price</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Tesla</th>
            <td>100</td>
            <td>50</td>
            <td>10/11/2022</td>
        </tr>
    </tbody>
</table>

<script>
    // Stock Performance Chart
    const cty = document.getElementById('stockPerformanceGraph');
    new Chart(cty, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
            datasets: [{
                label: 'Stock Value',
                data: [12, 19, -3, 5, 2, 3],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
    });

    // Stock Distribution Chart
    const ctz = document.getElementById('stockDistribution');
    new Chart(ctz, {
        type: 'doughnut',
        data: {
            labels: ['Tesla', 'Apple', 'Microsoft'],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
    });

    // Positions by Market Value Chart
    const ctx = document.getElementById('stockPositionsByMarketValue');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Tesla', 'Apple', 'Microsoft'],
            datasets: [{
                label: 'Value in USD',
                data: [12000, 1900, 3000],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}