/* --------------------------------- CSS for base -------------------------------- */

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

/* .sidebar-nav  */
div#offcanvasExample.offcanvas.offcanvas-start.sidebar-nav {
    width: var(--offcanvas-width);
}

/* .sidebar-link */
a.nav-link.px-3.sidebar-link {
    display: flex;
    align-items: center;
}

/* .sidebar-link .right-icon */
span.right-icon.ms-auto {
    display: inline-flex;
    transition: all ease 0.25s;
}

/* .sidebar-link[aria-expanded="true"] .right-icon */
a.nav-link.px-3.sidebar-link[aria-expanded="true"] span.right-icon.ms-auto {
    transform: rotate(180deg);
}

@media (min-width:992px) {

    body {
        overflow: auto !important;
    }

    main.base {
        margin-left: var(--offcanvas-width);
    }

    /* .offcanvas-backdrop::before {
        display: none !important;
    } */
    div#offcanvasExample.offcanvas.offcanvas-start.sidebar-nav.bg-dark.text-white::before {
        display: none !important;
    }

    /* .sidebar-nav  */
    div#offcanvasExample.offcanvas.offcanvas-start.sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }

}

/* --------------------------------- End of CSS for base -------------------------------- */

/* --------------------------------- CSS for login and sign-up -------------------------------- */

/* .form-signin  */
div.form-signin.w-100.m-auto.text-center {
    max-width: 330px;
    padding: 15px;
}

/* .form-signin .form-floating:focus-within  */
div.form-signin.w-100.m-auto.text-center div.form-floating:focus-within {
    z-index: 2;
}

/* .form-signin input[type="email"]  */
div.form-signin.w-100.m-auto.text-center input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* .form-signin input[type="password"]  */
div.form-signin.w-100.m-auto.text-center [type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* --------------------------------- End of CSS for login and sign-up -------------------------------- */